<div class="left_pane_data" *ngFor="let data of leftPaneData">
    <div (click)="arrowClick(data)">
        <div class="arrow_icon" [ngClass]="data.arrowIconClass"></div>
        <div class="options_heading">{{data.display}}</div>
    </div>
    <ul *ngIf="data.showOptions">
        <li class="options_sub_heading" *ngFor="let option of data.options">
        	<div (click)="showFilterTooltip(option)">{{option.display}}
        		<app-tooltip [tooltipObj]="option"  *ngIf="option.showTooltip"></app-tooltip>
        	</div>
        </li>
    </ul>
</div>
