.user_main {
    float: right;
    margin: 12px;
    width: 60px;

    .user_logo {

        .user_icon {
            width: 35px;
            cursor: pointer;
            float: right;
        }
    }

    .user_drop_down {
        float: right;
        margin-top: 20px;
        box-shadow: 0px 5px 10px 0px Grey;
        box-sizing: border-box;
    }
}
