<div class="left_pane_main">
    <div class="action_bar">
        <div class="hamburger_main" (click)="hamburgerClick()">
            <img class="hamburger_icon" src="../assets/hamburger_icon.png">
        </div>
    </div>
    <div class="left_pane" *ngIf="showLeftPane">
        <div class="left_pane_data" *ngFor="let data of leftPaneData">
            <div (click)="arrowClick()">
                <div class="arrow_icon" [ngClass]="arrowIconClass"></div>
                <div class="options_heading">{{data.display}}</div>
            </div>
            <ul *ngIf="isArrowDown">
                <li class="options_sub_heading" *ngFor="let option of data.options">
                    <div>{{option.display}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>